

.profile {
    width: 20%;
    border-radius: 50%;
    height: 20%;
    margin-left: 10px;
    border: 8px solid rgb(255, 255, 255);

}

.top-menu {

    background-color: rgb(87, 140, 185);
    color: rgb(255, 255, 255);
    font-family: Arial;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    align-items: center;
}

.header {

    background-image: url(images/header-background.jpeg);
    background-position: center;
    background-size: cover;

    text-shadow: 2px 2px #00000049;

    color: #ffffff;

    margin-bottom: 2rem;
    padding: 2rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.header-text {
    margin-left: 25px;
    font-family: Arial;
    font-size: 2rem;
}