/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(247, 241, 160);
}


/* TRANSITION */

a, .btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */

nav, 
.nav-links {
    display: flex;
    background-color: rgb(87, 140, 185);
    color: white;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration: white;
}

a:hover {
    color: rgb(255, 220, 155);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
    background-color: rgb(87, 140, 185);
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(87, 140, 185);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px)
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px)
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}


/* SPLASH & PROFILE */


.profile {
    width: 20%;
    border-radius: 50%;
    height: 20%;
    margin-left: 10px;
    border: 8px solid rgb(255, 255, 255);

}

#profile-name {
    font-weight: 500;
}

.header {

    background-image: url(images/splash2.jpg);
    background-position-y: 10%;
    background-size: cover;
    text-shadow: 2px 2px #00000049;
    color: #ffffff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

#header-text {
    margin-left: 25px;
    font-size: 2rem;
}